body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    font-family: Arial black;
    letter-spacing: 1.5em;
}

#bakgrunn{
  filter: brightness(70%) contrast(170%);
}


/* Centered text */
#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    opacity: 0.7;
    color: white;
    text-shadow: 5px 5px 20px #000000;
    text-decoration: overline grey;
}



.bilder{
  background-image: url("img/konsert.jpg");
}

}
a {
font-family: Impact;
font-size: 24px;
text-decoration: none;
}

a:hover {
color: green;
text-decoration: none;

}


.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navitem {
  float: left;
  border-right: 5% solid #bbb;
  font-size: large;
}

#navitem:hover {
  background-color: #AA11AA;
}

#navitem:last-child {
  border-right: none;
}

#navitem a {
  display:block;
  color:white;
  text-align: center;
  padding: 1em 3em;
  text-decoration: none;
}

#toalettListe {
  margin: 0;
  padding-top: 5em;
  width: 60%;
}

.container2{
  max-width: 1060px;
  margin: 0 auto;
  background: #dddddd;
  padding: 50px;
  z-index: 1;
  background: linear-gradient(white, #cecece, #cecece, white);
}


.bilder{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bilder img {
  width: 700px;
  height: auto;
  margin-top: 5%;
  position: relative;
  margin: 10px;
}

.konsert1{
  margin-top: 5%;
  text-align: center;
}

.konsert:hover {
  background-color: #adadad;
  color: white;
}

.konsert, .konsert h1, .konsert p{
  transition: all 0.2s ease-in-out;
}

#map {
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  bottom: 10%;
  border: 0px solid black;
}

#overskrift {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-family: monospace;
  color: black;
}

@media only screen and (max-width: 768px){
  #centered{
    font-size: 2em;
    margin-top: 1em;
  }
  #bakgrunn{
    margin-top: 3em;
  }
  .navigation{
      flex-direction: column;
      text-align: left;
    }
  .bilder{
      margin-top: 12%;
    }

}

@media only screen and (max-width: 968px){
  .navigation{
    flex-direction: row;
    text-align: center;
  }
}
