
#overskrift {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-family: monospace;
  color: black;
}

#map {
  margin-top: 10px;
  background-color: black;
  height: 700px;
  width: 80%;
  left: 10%;
  top: 10%;
  bottom: 10%;
}
