#map {
  position: relative;
  padding-top: 100px;
  height: 700px;
  width: 50%;
  left: 40%;
  bottom: 10%;
}

#toalettListe ol {
  left: 20px;
  top: 20px;
  position: absolute;
  font-size: 2em;
  margin: 0;
  padding-top: 5em;
  width: 60%;
}
