/*Wrapper som holder alle div-elementer. Gir marginer på venstre
og høyre side av skjermen*/
.wrapper{
  margin-left: 45px;
  margin-right: 25px;
  max-width: 960px;
}

/*Kartet over toaletter i Bergen sentrum*/
#map {
  position: absolute;
  top: 100px;
  height: 600px;
  width: 600px;
  left: 40%;
}

/*Listen over toaletter hentet fra JSON-dokumentet*/
#toaListe{
  position: absolute;
  font-size: 1.5em;
  top: 270px;
  width: 60%;
}

/*Søke-funksjonen over toaletter*/
#searchForm{
  font-size: 1em;
  left: 20px;
  top: 60px;
  position: relative;
}
